*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    .header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    }
    
    .header__left-menu{
        display:grid;
        grid-auto-flow: column;
        align-items: center;
    }

    .search{
        display: grid;
        padding: 10px;
    }

    .header__right-menu{
        display:grid;
        grid-auto-flow: column;
        align-items: center;
    }
    .left-menu {
        grid-area: left-menu;
        display:grid;
   
    }
    
    .main{
        grid-area: main;
   
    }
    
    .right-menu{
        grid-area: right-menu;

    }
    
    .shortcuts{
        grid-area: shortcuts;

    }
    .container {
        height: 100vh;
        display: grid;
        grid-template:
       "header header header header" auto
       "left-menu main right-menu shortcuts" 1fr /
       200px 1fr 200px 50px;
    }
     img{
        border-radius: 8px;
        padding: 10px;
        width: 150px;
     }
     
    
    @media screen and (max-width: 740px) {
        .container { 
            grid-template:
           "header header header" auto
           "left-menu main right-menu" 1fr/
           200px 1fr 200px;
        }
    
       .shortcuts{
            display: none;
        }
    }
    
    @media screen and (max-width: 670px){
        .container { 
            grid-template:
           "header header" auto
           "left-menu main" 1fr
           "right-menu right-menu" auto/
           200px 1fr;
        }
    }
    
    @media screen and (max-width: 500px){
        .container { 
            grid-template:
           "header header" auto
           "left-menu main" 1fr
           "right-menu right-menu" auto/
           50px 1fr;
        }
    }
    .email-list{
        display: grid;
        grid-template-columns: auto auto 1fr 2fr auto;
        gap: 0.6rem;
        font-weight: 300;
    }
